.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-content-1 {
    margin-top: 10px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: mediumpurple !important;
    color: rgb(255, 255, 255);
}

address {
    font-size: 15px;
    margin: 0px;
    color: #0f0f0f;
}


body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

.navbar-nav>.navbar-item {
    margin-left: 20px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.navbar-text {
    margin-right: -392%;
}

.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 900px;
}

.carousel-item img {
    min-height: 100%;
    margin: auto;
}